form {
      border: 2px solid aquamarine;
      border-radius: 20px;
      background-color: beige;
      text-align: center;
      margin-right:  170px;
      margin-top: 200px;
      margin-bottom: 200px;
      padding: 20px;
      width: 80%;
      height: 80% !important;

}