.btn-group button {
margin-top: 80px;

 margin-bottom: 90px;
 margin-right: 90px;
}
.btn-group  .dropdown-menu{
      margin-right: 0px !important;
}
.btn-group  .dropdown-menu ul {
      margin-bottom: 20px !important;
      padding-bottom:0 ;
      width: 100%;
   

}
.btn-group  .dropdown-menu ul li {
      line-height: 5px;
      padding: 10px;
      text-align: right;
      font-size: 15px;
      list-style:none !important;
      
}
.btn-group  .dropdown-menu ul li a:hover{
      color: rgb(103, 240, 194);
      
}